# git-cliff ~ default configuration file
# https://git-cliff.org/docs/configuration

[changelog]
trim = true
header = """
# Changelog\n
"""
body = """
{% if version %}\
    ## {{ version | trim_start_matches(pat="v") }} - {{ timestamp | date(format="%Y-%m-%d") }}\
{% else %}\
    ## Unreleased\
{% endif %}
{% for commit in commits | sort(attribute="group") %}\
        - {% if commit.group != "none" %}{{ commit.group }}: {% endif %}{{ commit.message | upper_first }} \
        - [{{ commit.id | truncate(length=7, end="") }}](https://github.com/fujidaiti/smooth_sheets/commit/{{ commit.id }})
{% endfor %}\
{% set breaking_commits = commits | filter(attribute="breaking", value=true) %}\
{% if breaking_commits | length > 0 %}\
\n
> [!IMPORTANT]
{% for commit in breaking_commits %}\
    {% for footer in commit.footers %}\
        {% if footer.breaking %}\
> - {{ footer.value }}
        {% endif %}\
    {% endfor %}\
{% endfor %}\
{% endif %}\
\n
See [the release note](https://github.com/fujidaiti/smooth_sheets/releases/tag/{{ version }}) for more details.
\n
"""

[git]
# Skip all tags up to v0.11.2 as they don't use conventional commits
skip_tags = "v0.2.*|v0.3.*|v0.4.*|v0.5.*|v0.6.*|v0.7.*|v0.8.*|v0.9.*|v0.10.*"
conventional_commits = true
filter_unconventional = true
split_commits = false
topo_order = false
sort_commits = "newest"
commit_preprocessors = [
  # add the link to the corresponding github pull request
  { pattern = "\\(#([0-9]+)\\)", replace = "([#${1}](https://github.com/fujidaiti/smooth_sheets/pull/${1}))" },
]
commit_parsers = [
  { message = '^feat\(pkg\)', group = "feat" },
  { message = '^fix\(ci|example|env\)', skip = true },
  { message = '^[fF]ix', group = "fix" },
  { message = '^build\(pkg\)', group = "build" },
  { message = '^revert\(pkg\)', group = "revert" },
  { message = ".*", skip = true },
]

[bump]
features_always_bump_minor = true
# a minor version is updated if the major version is 0,
# otherwise a major version is updated
breaking_always_bump_major = false

