[config]
skip_core_tasks = true

[env]
PROJECT_ROOT = { script = ["pwd"] }
SCRIPTS_DIR = "${PROJECT_ROOT}/scripts"

[tasks.flutter-build]
script = '''
flutter clean
flutter pub get
'''

[tasks.flutter-analyze]
script = '''
echo "Running dart format"
dart format . -o none --set-exit-if-changed
echo "Running dart analyze"
dart analyze
echo "Running disallowed patterns check"
sh $SCRIPTS_DIR/pattern_checker.sh "*.dart" "--" "debugPrint"
'''

[tasks.flutter-check]
run_task = { name = ['flutter-build', 'flutter-analyze'] }

[tasks.build-all]
script_runner = "@duckscript"
script = '''
echo "Building package"
cd ./package
cm_run_task flutter-build
echo "Building cookbook"
cd ../cookbook
cm_run_task flutter-build
'''

[tasks.check-all]
script_runner = "@duckscript"
script = '''
echo "Running flutter-check for package"
cd ./package
cm_run_task flutter-check
echo "Running flutter-check for cookbook"
cd ../cookbook
cm_run_task flutter-check
'''
