name: smooth_sheets
description: Sheet widgets with smooth motion and great flexibility. Also supports nested navigation in both imperative and declarative ways.
version: 0.15.0
repository: https://github.com/fujidaiti/smooth_sheets
screenshots:
  - description: Practical examples of smooth_sheets.
    path: art/smooth-sheets-thumbnail.png
topics:
  - ui
  - widget
  - bottom-sheet
environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.29.0"
dependencies:
  collection: ^1.17.1
  flutter:
    sdk: flutter
  meta: ^1.9.1
  navigator_resizable: ^3.0.0
dev_dependencies:
  auto_route: ^10.0.1
  build_runner: ^2.4.9
  flutter_test:
    sdk: flutter
  go_router: ^16.2.1
  mockito: ^5.4.4
  pedantic_mono: ^1.23.0
