name: Code Checking
on:
  push:

jobs:
  code-check:
    name: Code Checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install cargo-make
        uses: taiki-e/install-action@cargo-make

      - name: Install Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.x

      - name: Flutter version
        run: flutter --version

      - name: Run task 'check-all'
        run: cargo make check-all
