name: Dry Publish
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  dry-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: ./.github/actions/setup_flutter
        with:
          target: package

      - name: Install pana
        run: dart pub global activate pana

      - name: Run pana
        id: analysis
        run: |
          JSON_OUTPUT=$(pana --json package)
          echo "::set-output name=json_output::$JSON_OUTPUT"

      - uses: fujidaiti/dart-package-inspector@v1
        with:
          report: ${{ steps.analysis.outputs.json_output }}
          min-convention-points: 30
          min-platform-points: 20
          min-analysis-points: 50
          min-dependency-points: 20
          supported-platforms: ios, android

      - run: flutter pub publish --dry-run
        working-directory: package
