name: Unit Testing

on:
  pull_request:
    paths:
      - "package/lib/**"
      - "package/test/**"

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    defaults:
      run:
        working-directory: package/
    env:
      FLUTTER_TEST_REPORT: flutter-test-report.json
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.x

      - name: Get dependencies
        run: flutter pub get

      - name: Run unit tests
        run: flutter test --file-reporter="json:${{ env.FLUTTER_TEST_REPORT }}"

      - name: Write test report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Unit Tests
          path: ${{ env.FLUTTER_TEST_REPORT }}
          reporter: flutter-json
